<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to Keshvacredit!</h1>
  <p>This is the home page rendered with EJS.</p>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="docImage"><br><br>
    <button>Submit</button>
  </form>
</body>
</html>
